
body
{
    margin: 0px;
}

h1
{
    font-family: Shrikhand, sans-serif;
}



h3, p{
font-family: Roboto, sans-serif;

}


.flecheretouretlogo
{
display: flex;
flex-grow: 1;
margin: 30px 0px 30px 0px

}




.flecheretouretlogo .fa-solid
{
font-size: 20px;
color: black;
margin-left: 50px;
}





 .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;


}



.image3
{
height: 500px;
width: 100%;
object-fit: cover;
/*position: relative;*/
}


.contenutexte
{
   height: 100%;
   width: 100%;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
}







.nomresto
{
    display: flex;
    flex-direction: row;
    font-family: Shrikhand;
    font-size: 20px;
    margin-left: 20px;

}


.nomresto .fa-heart  /*coeur fin et vide à afficher*/
{
display: flex;
color: black;
align-items: center;
right: 30px;   /*  pourquoi ? sinon padding ok*/
padding-left: 250px;
}
    

.entrées, .plats, .desserts
{
margin: 20px;
text-decoration: underline;
text-decoration-style:solid;
}






.conteneurmenu
{
display: flex;
flex-direction: column;
border-radius: 30px;
background-color: lightgray;
/*position: absolute;
    z-index: 1; pas la bonne technique : ca fige la largeur     */
}







.modelcarte
{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100px;
    width: 600px;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    flex-wrap: nowrap;
    position: relative;
}





.modelcarte:hover .coche 
{
transform: translateX(0px);
}





.modelcarte:hover .coche .fa-solid
{
transform: rotate(0deg);
}




.modelcarte:hover .sousmodelecarte
{
    width: calc(100% - 100px);
}



.sousmodelecarte
{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    transition: all 0.4s ease-in;
}


.complete
{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 15px;
}



.complete h4, p 
{
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
}






.detailprix
{
display: flex;
align-items: center;
font-weight: bold;
padding-top: 30px;
padding-right: 20px;
}




.coche
{
    display: flex;
    background-color: lightgreen;
    width: 100px!important;
    height: 100px;
    justify-content: center;
    align-items: center;
    transform: translateX(100px);
    position: absolute;
    right: 0px;
    transition: all 0.4s ease-in;
}




.coche .fa-solid
{
display: flex;
color: white;
font-size: 35px;
transition: all 0.4s ease-in;
transform: rotate(-180deg);

}








@keyframes 
 {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
    }
}






/*

.detailplat
{
    display: flex;
    flex-direction: row;
}


.prix
{
  
}



.prixanimation
{
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 80px;
    width: 100px;
    transition: all 1s ease-in;
    }
    


.prixanimation:hover
{
background-color: blue;
transform: rotate(360deg);
}







.nomplat, .detailprix p
{
margin: 8px 0px 5px 0px;
}

*/

.commander
{
display: flex;
height: 50px;
width: 250px;
margin-bottom: 100px;
margin-top: 40px;
justify-content: center;
align-items: center;
text-decoration: none;
font-size: 25px;
color: white;
border-style: none;
padding: 25px;
background: linear-gradient(#FF79DA, #9356DC);
border-radius: 40px;
}



.conteneurfooter
{
height: 250px;
width: 100%;
background-color:rgb(56, 56, 56);
margin: 0px;

}



.contenusfooter
{
    margin: 0px 0px 0px 20px;
    color: white;
}




.nommarque
{
font-size: 25px;
font-family: Shrikhand;


}


.proposerunresto, .devenirpartenaire
{
display: flex;
flex-direction: row;

}



.proposerunresto p, .devenirpartenaire p
{
    padding-left: 10px;
}



.devenirpartenaire .fa-solid
{
    font-size: small;
}

.proposerunresto, .devenirpartenaire, .contenusfooter p
{
margin: 0px 0px 7px 0px;
}