
body{
margin: 0;
padding:0;



.sectionchargement
{
display: none;
background-color: #efcfe3;
height: 100vh;
width: 100%;
justify-content: center;
align-items: center;
z-index: 99;
position:fixed;
}


.loader
{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 15px;
}



.loadingspinner
{
    border-radius: 50px;
    border: 6px solid rgba(255,255,255,0.5);
}


.loadingspinner:after
{
content:'';
position: absolute;
top: -6px;
left: -6px;
bottom: -6px;
right: -6px;
border-radius: 50px;
border: 6px solid transparent;
border-top-color: darkgray;
animation:spin 2.5s linear infinite;

}


@keyframes spin
{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}








    .conteneurheader h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    * {
        font-family: Roboto, Arial, Verdana, sans-serif;
    }



    .logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;


    }

    .logoheader {
        height: 30px;
        padding-top: 20px;
        padding-bottom: 20px;

    }



    .zonerecherche {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: rgb(230, 225, 225);
        box-shadow: 0px 3px 1px lightgray inset
    }



    .zone1 {
        display: flex;
        font-size: 20px;
        background-color: rgb(230, 225, 225);
        color: black;
        align-items: center;
        justify-content: center;
        margin-left: 10%;

    }



    .formulaire {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 100%;
        flex-grow: 1;
        background-color: rgb(230, 225, 225);
        padding-left: 15px;

    }


    .zone2 {
        border: none;
        background-color: rgb(230, 225, 225);
        font-size: medium;
    }



    .explorationrestaurants {
        display: flex;
        height: 40px;
    
        margin-bottom: 50px;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }


    .lienexploration 
    {
        text-decoration: none;
        font-size: 25px;
        color: white;
        border-style: none;
        padding: 25px;
        background: linear-gradient(#FF79DA, #9356DC);
        border-radius: 40px;
      
        text-decoration: none;
        font-size: 25px;
        color: white;
        border-style: none;

    }


/*

    .explorationrestaurants, .lienexploration 
    {
        text-decoration: none;
        font-size: 25px;
        color: white;
        border-style: none;
    }
*/

    .conteneurfinheader {
        height: 300px;
        background-color: rgb(245, 243, 243);
        padding-top: 20px;
        text-align: center;
    }




.conteneurfonctionnement h2
{
margin: 40px;

}


.etapesfonctionnement
{
display: flex;
flex-direction: column;
}


.choisissez, .composez, .degustez
{
display: flex;
flex-direction: row;
border-style: none;
background-color:  rgb(245, 243, 243);
border-radius: 20px;
font-size: 25px;
position: relative; 
color: black;
margin-bottom: 50px;
justify-content:left;
align-items: center;
padding: 30px;
position: relative; 
}



.choisissez:hover, .composez:hover, .degustez:hover
{
    background-color:lightcyan;

}








.etapesfonctionnement, .choisissez .fa-solid, .composez .fa-solid, .degustez .fa-solid
{
color: gray;
padding: 0px 30px 0px 30px;
}





.choisissez .etape1, .composez .etape2, .degustez .etape3
{
    border-style: none;
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    background-color: violet;
    color: white;
    font-size: smaller;
    position: absolute;
    left: -15px;
}






.conteneurrestaurants
{
display: flex;
flex-direction: column;
}



.modelecarte {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 20px;
    overflow: hidden;
    flex-grow: 1;
    margin: 15px;

}





.modelecarte
 {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 20px;
    overflow: hidden;
    flex-grow: 1;
    margin: 15px;
    position: relative;

}





.partietexte
{
display: flex;
justify-content: space-between;
}


.coeurs
{
margin-right: 40px;

}




.coeurs:hover .coeurplein
{
    display: flex;
    color: pink;
    font-size: 30px;
    position:absolute;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.coeurs:hover .coeurvide

{
    font-size: 30px;
    position: absolute;
    display: none;  
}





.coeurvide
{
    font-size: 30px;
    position: absolute;
    
}



.coeurplein
{
    display: none;
    font-size: 30px;
    position:absolute

}




.partiephoto
{
   position: relative;
   width: 100%;
   height: 150px;
   overflow: hidden;
}




.lesimages {
position: relative;
width: 100%;
height: auto;
background-color: #FF79DA;


}


.mentionnouveau
{
z-index: 1;
background-color: aquamarine;
color:darkgreen;
padding: 15px;
opacity: 0.9;
position: absolute;
right: 20px;   /* se mettre ca en note : right veut dire à partir de droite*/


}



.partietexte
{
padding: 30px;
}


p, h3
{
    margin: 0px;
}














.conteneurfooter
{
background-color: rgb(53, 52, 52);
color: white;
}





.textelogo p
{
    font-family: Shrikhand;
    font-size: 25px;
    padding-top: 20px;
}



.proposerunresto, .devenirpartenaire
{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.elementsdufooter
{
margin-left: 30px;

}

.proposerunresto p, .devenirpartenaire p
{
margin: 10px 0px 10px 15px;
}

}